$ScissorsGradient: linear-gradient(to bottom, hsl(39, 89%, 49%) 5%, hsl(40, 84%, 53%));
$PaperGradient: linear-gradient(to bottom, hsl(230, 89%, 62%) 5%, hsl(230, 89%, 65%));
$RockGradient: linear-gradient(to bottom, hsl(349, 71%, 52%) 5%, hsl(349, 70%, 56%));
$LizardGradient: linear-gradient(to bottom, hsl(261, 73%, 60%) 5%, hsl(261, 72%, 63%));
$Cyan: linear-gradient(to right, hsl(189, 59%, 53%) 5%, hsl(189, 58%, 57%));

$DarkText: hsl(229, 25%, 31%);
$ScoreText: hsl(229, 64%, 46%);
$HeaderOutline: hsl(217, 16%, 45%);

$RadialGradient: linear-gradient(to bottom, hsl(214, 47%, 23%) 5%, hsl(237, 49%, 15%));

@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

@mixin tablet {
  @media (max-width: 1108px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 585px) {
    @content;
  }
}

@mixin smaller-mobile {
  @media (max-width: 420px) {
    @content;
  }
}

*::before, *::after, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:hover {
  transition: 0.2s;
}

html, body {
  height: 100%;
}

html {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 16px;
  line-height: 1.45;
  color: #fff;
  background: $RadialGradient;
  position: relative;
  button {
    font-family: "Barlow Semi Condensed", sans-serif;
    cursor: pointer;
    &:focus {
      outline: 0;
    }
  }
}

html.opacity::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 990;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.rules-container {
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 990;
  height: 27rem;
  width: 26.5rem;
  border-radius: 10px;
  background-color: #fff;
  padding: .5rem 2rem;
  row-gap: 40px;
  transition: .2s;
  opacity: 1;
  visibility: visible;
  @include mobile {
    width: 100%;
    height: 100%;
    row-gap: 50px;
    border-radius: 0;
  }
  > img {
    @include mobile {
      margin-bottom: 50px;
    }
  }
  > section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @include mobile {
      width: 300px;
    }
    > h1 {
      text-transform: uppercase;
      color: $DarkText;
      font-size: 2rem;
    }
    > button {
      border: 0;
      background-color: transparent;
      > img {
        padding: 5px;
      }
    }
  }
  &:not(.active) {
    visibility: hidden;
    opacity: 0;
  }
}

.container {
  position: relative;
  height: 43rem;
  width: 50rem;
  margin-bottom: 20px;
  @include mobile {
    margin-bottom: 0px;
    margin-top: 50px;
    height: 100%;
  }
  > .header-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    height: 9rem;
    border: 2.5px solid $HeaderOutline;
    border-radius: 15px;
    @include tablet {
      width: 90%;
      left: 50%;
      transform: translate(-50%);
    }
    @include mobile {
      height: 7.5rem;
    }
    img {
      position: relative;
      top: 6px;
      @include mobile {
        height: max-content;
        width: 130px;
      }
    }
    .score-container {
      background-color: #fff;
      height: 7em;
      width: 9.2rem;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: .8rem;
      @include mobile {
        height: 6rem;
        width: 7rem;
      }
      h1 {
        position: relative;
        bottom: 18px;
        font-size: 4.5rem;
        font-weight: 700;
        color: $DarkText;
        @include mobile {
          font-size: 3.8rem;
        }
      }
      span {
        color: $ScoreText;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }
  }
  > .main-container {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    height: 32rem;
    width: 550px;
    top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
    column-gap: 120px;
    @include tablet {
      padding-top: 0px;
    }
    @include mobile {
      height: 22rem;
      width: 320px;
      column-gap: 80px;
    }
    &:not(.active) {
      display: none;
    }
    .connected-line {
      position: absolute;
      height: 17px;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: -2;
      width: 60%;
      border: 0;
    }
    .connected-line.first {
      top: 122px;
      left: 50%;
      transform: translate(-50%);
      @include mobile {
        top: 80px;
      }
    }
    .connected-line.second {
      top: 400px;
      rotate: 60deg;
      left: 22%;
      transform: translate(-50%);
      @include mobile {
        top: 250px;
        left: 12%;
      }
    }
    .connected-line.third {
      top: 65px;
      rotate: -60deg;
      left: 50%;
      transform: translate(-50%);
      @include mobile {
        left: 60.5%;
      }
    }
  }
  .btn-container {
    touch-action: none;
    height: 10rem;
    width: 10rem;
    border-radius: 10rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: .2s;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
    &:hover .btn-img-icon {
      rotate: 40deg;
      transition: .2s;
    }
    &:before {
      z-index: -1;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background-color: #eee;
    }
    &:after {
      z-index: -2;
      content: "";
      position: absolute;
      width: 130%;
      height: 130%;
      border-radius: inherit;
    }
    > .game-btn {
      border: 0;
      background-color: transparent;
      .btn-img-icon {   
        touch-action: none;
        user-select: none;   
        height: max-content;
        width: 65px;
        object-fit: cover;
        transition: .2s;
        @include mobile {
          width: 50px;
        }
      }
    }
    @include mobile {
      height: 7.5rem;
      width: 7.5rem;
      &:before {
        width: 100%;
        height: 100%;
      }
      &:after {
        width: 130%;
        height: 130%;
      }
    }
  }
  .btn-container.bigger {
    height: 12rem;
    width: 12rem;
    &:before {
      width: 120%;
      height: 120%;
    }
    &:after {
      width: 150%;
      height: 150%;
    }
    .btn-img-icon {
      width: 100px;
    }
    @include tablet {
      height: 11rem;
      width: 11rem;
      &:before {
        width: 100%;
        height: 100%;
      }
      &:after {
        width: 130%;
        height: 130%;
      }
      .btn-img-icon {
        width: 65px;
      }
    }
    @include mobile {
      height: 7.5rem;
      width: 7.5rem;
      &:before {
        width: 100%;
        height: 100%;
      }
      &:after {
        width: 130%;
        height: 130%;
      }
      .btn-img-icon {
        width: 50px;
      }
    }
    @include smaller-mobile {
      height: 7rem;
      width: 7rem;
      &:before {
        width: 100%;
        height: 100%;
      }
      &:after {
        width: 130%;
        height: 130%;
      }
      .btn-img-icon {
        width: 40px;
      }
    }
  }
  .paper-btn-container::after {
    background: $PaperGradient;
  }
  .scissors-btn-container::after {
    background: $ScissorsGradient;
  }
  .rock-btn-container::after {
    background: $RockGradient;
  }
  > .picked-container {
    padding-top: 225px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    margin: 0 auto;
    height: max-content;
    @include tablet {
      padding-left: 70px;
      padding-right: 70px;
      padding-top: 180px;
    }
    @include mobile {
      padding-top: 155px;
      padding-left: 35px;
      padding-right: 35px;
    }
    @include smaller-mobile {
      padding-left: 15px;
      padding-right: 15px;
    }
    &:not(.active) {
      display: none;
    }
    > .picked-side {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      row-gap: 95px;
      @include tablet {
        row-gap: 40px;
      }
      h1 {
        @include tablet {
        font-size: 20px;
        }
        @include mobile {
          width: 80%;
          font-size: 18px;
        }
      }
      @include mobile {
        font-size: 14px;
        text-align: center;
      }
      .ai-picked-container {
        height: 12rem;
        width: 12rem;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 12rem;
        @include mobile {
          height: 8rem;
          width: 8rem;
        }
        @include smaller-mobile {
          height: 7rem;
          width: 7rem;
        }
      }
    }
    > .picked-result-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      > h1 {
        font-size: 3.5rem;
        text-transform: uppercase;
        text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
      }
      > button {
        border: 0;
        height: 50px;
        border-radius: 8px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 16px;
        color: #DF4D4F;
        transition: .2s;
        &:hover {
          filter: brightness(80%);
        }
      }
      &:not(.active) {
        display: none;
      }
      @include tablet {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%);
      }
    }
  }
}

.rules-btn-container {
  position: absolute;
  opacity: .9;
  z-index: 991;
  right: 70px;
  bottom: 35px;
  @include mobile {
    right: 50%;
    bottom: 30px;
    transform: translate(50%);
  }
  .rules-btn {
    width: 120px;
    height: 40px;
    border-radius: 8px;   
    border: 1.5px solid #eee;
    background-color: transparent;
    color: #eee;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    &:hover {
      filter: brightness(75%);
    }
  }
}
