@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
*::before, *::after, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:hover {
  transition: 0.2s;
}

html, body {
  height: 100%;
}

html {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 16px;
  line-height: 1.45;
  color: #fff;
  background-color: lightblue;
  position: relative;
}
html button {
  font-family: "Barlow Semi Condensed", sans-serif;
  cursor: pointer;
}
html button:focus {
  outline: 0;
}

html.opacity::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 990;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
}

body {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, hsl(214, 47%, 23%) 5%, hsl(237, 49%, 15%));
}

.rules-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 990;
  height: 27rem;
  width: 26.5rem;
  border-radius: 10px;
  background-color: #fff;
  padding: 0.5rem 2rem;
  row-gap: 40px;
  transition: 0.2s;
}
.rules-container:not(.active) {
  visibility: hidden;
  opacity: 0;
}
@media (max-width: 585px) {
  .rules-container {
    width: 100%;
    height: 100%;
    row-gap: 50px;
    border-radius: 0;
  }
}
@media (max-width: 585px) {
  .rules-container > .image-rules {
    margin-bottom: 50px;
  }
}
.rules-container > .rules-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 585px) {
  .rules-container > .rules-nav {
    width: 300px;
  }
}
.rules-container > .rules-nav > .rules-text {
  text-transform: uppercase;
  color: hsl(229, 25%, 31%);
  font-size: 2rem;
}
.rules-container > .rules-nav > .close-btn {
  border: 0;
  background-color: transparent;
}
.rules-container > .rules-nav > .close-btn > .close-rules-icon {
  padding: 5px;
}

.container {
  position: relative;
  height: 43rem;
  width: 50rem;
  margin-top: 30px;
}
@media (max-width: 585px) {
  .container {
    height: 100%;
    margin-top: 40px;
  }
}
.container > .header-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  height: 9rem;
  border: 2.5px solid hsl(217, 16%, 45%);
  border-radius: 15px;
}
@media (max-width: 1108px) {
  .container > .header-container {
    width: 90%;
    left: 50%;
    transform: translate(-50%);
  }
}
@media (max-width: 585px) {
  .container > .header-container {
    height: 7.5rem;
  }
}
@media (max-width: 385px) {
  .container > .header-container {
    height: 6.5rem;
  }
}
.container > .header-container .game-logo {
  position: relative;
  top: 6px;
}
@media (max-width: 585px) {
  .container > .header-container .game-logo {
    height: -moz-max-content;
    height: max-content;
    width: 130px;
  }
}
@media (max-width: 385px) {
  .container > .header-container .game-logo {
    width: 115px;
  }
}
.container > .header-container .score-container {
  background-color: #fff;
  height: 7em;
  width: 9.2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem;
  overflow: hidden;
}
@media (max-width: 585px) {
  .container > .header-container .score-container {
    height: 6rem;
    width: 7rem;
    padding-top: 10px;
  }
}
@media (max-width: 385px) {
  .container > .header-container .score-container {
    height: 5rem;
    width: 6rem;
  }
}
.container > .header-container .score-container .score-count-text {
  font-family: sans-serif !important;
  font-size: 4.5rem;
  color: hsl(229, 25%, 31%);
  line-height: 1;
}
@media (max-width: 585px) {
  .container > .header-container .score-container .score-count-text {
    font-size: 3.6rem;
  }
}
@media (max-width: 385px) {
  .container > .header-container .score-container .score-count-text {
    font-size: 3.2rem;
  }
}
.container > .header-container .score-container .score-text {
  color: hsl(229, 64%, 46%);
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media (max-width: 385px) {
  .container > .header-container .score-container .score-text {
    font-size: 13px;
  }
}
.container > .main-container {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  height: 32rem;
  width: 550px;
  margin-top: 185px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 120px;
       column-gap: 120px;
}
.container > .main-container:not(.active) {
  display: none;
}
@media (max-width: 1108px) {
  .container > .main-container {
    margin-top: 160px;
    height: 30rem;
  }
}
@media (max-width: 585px) {
  .container > .main-container {
    margin-top: 150px;
    height: 22rem;
    width: 320px;
    -moz-column-gap: 80px;
         column-gap: 80px;
  }
}
.container > .main-container .connected-line {
  position: absolute;
  height: 17px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -2;
  width: 60%;
  border: 0;
}
.container > .main-container .connected-line.first {
  top: 122px;
  left: 50%;
  transform: translate(-50%);
}
@media (max-width: 1108px) {
  .container > .main-container .connected-line.first {
    top: 112px;
  }
}
@media (max-width: 585px) {
  .container > .main-container .connected-line.first {
    top: 80px;
  }
}
.container > .main-container .connected-line.second {
  top: 400px;
  rotate: 60deg;
  left: 22%;
  transform: translate(-50%);
}
@media (max-width: 585px) {
  .container > .main-container .connected-line.second {
    top: 250px;
    left: 12%;
  }
}
.container > .main-container .connected-line.third {
  top: 85px;
  rotate: -60deg;
  left: 50%;
  transform: translate(-50%);
}
@media (max-width: 585px) {
  .container > .main-container .connected-line.third {
    left: 60.5%;
  }
}
.container .btn-container {
  touch-action: none;
  height: 10rem;
  width: 10rem;
  border-radius: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.2s;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.container .btn-container:hover {
  transform: scale(1.08);
  rotate: 40deg;
  transition: 0.2s;
}
@media (max-width: 1108px) {
  .container .btn-container:hover {
    transform: scale(1);
    rotate: 0deg;
    transition: 0s;
  }
}
.container .btn-container:before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: #eee;
  background-repeat: no-repeat;
  touch-action: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-position: center;
  background-size: 65px;
}
.container .btn-container:after {
  z-index: -2;
  content: "";
  position: absolute;
  width: 130%;
  height: 130%;
  border-radius: 130%;
}
@media (max-width: 585px) {
  .container .btn-container {
    height: 7.5rem;
    width: 7.5rem;
  }
  .container .btn-container:before {
    width: 100%;
    height: 100%;
    background-size: 55px;
  }
  .container .btn-container:after {
    width: 130%;
    height: 130%;
  }
}
@media (max-width: 385px) {
  .container .btn-container {
    height: 6rem;
    width: 6rem;
  }
  .container .btn-container:before {
    width: 100%;
    height: 100%;
    background-size: 50px;
  }
  .container .btn-container:after {
    width: 125%;
    height: 125%;
    border-radius: 125%;
  }
}
.container .btn-container.rock-btn-container::before {
  background-image: url(/images/icon-rock.svg);
}
.container .btn-container.paper-btn-container::before {
  background-image: url(/images/icon-paper.svg);
}
.container .btn-container.scissors-btn-container::before {
  background-image: url(/images/icon-scissors.svg);
}
.container .btn-container.bigger {
  height: 12rem;
  width: 12rem;
  border-radius: 12rem;
}
.container .btn-container.bigger:before {
  width: 120%;
  height: 120%;
  background-size: 92px;
}
.container .btn-container.bigger:after {
  width: 150%;
  height: 150%;
  border-radius: 150%;
}
@media (max-width: 1108px) {
  .container .btn-container.bigger {
    height: 11rem;
    width: 11rem;
  }
  .container .btn-container.bigger:before {
    width: 100%;
    height: 100%;
    background-size: 70px;
  }
  .container .btn-container.bigger:after {
    width: 130%;
    height: 130%;
    border-radius: 130%;
  }
}
@media (max-width: 585px) {
  .container .btn-container.bigger {
    height: 7.5rem;
    width: 7.5rem;
  }
  .container .btn-container.bigger::before {
    background-size: 60px;
  }
}
@media (max-width: 385px) {
  .container .btn-container.bigger {
    height: 7rem;
    width: 7rem;
  }
  .container .btn-container.bigger::before {
    background-size: 50px;
  }
}
.container .paper-btn-container::after {
  background: linear-gradient(to bottom, hsl(230, 89%, 62%) 5%, hsl(230, 89%, 65%));
}
.container .scissors-btn-container::after {
  background: linear-gradient(to bottom, hsl(39, 89%, 49%) 5%, hsl(40, 84%, 53%));
}
.container .rock-btn-container::after {
  background: linear-gradient(to bottom, hsl(349, 71%, 52%) 5%, hsl(349, 70%, 56%));
}
.container > .picked-container {
  position: absolute;
  top: 255px;
  padding: 0px 60px 0px 60px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  height: -moz-max-content;
  height: max-content;
  transition: 0.2s;
}
.container > .picked-container:not(.active) {
  visibility: hidden;
  opacity: 0;
}
@media (max-width: 1108px) {
  .container > .picked-container {
    top: 200px;
    padding: 0px 70px 0px 70px;
  }
}
@media (max-width: 585px) {
  .container > .picked-container {
    padding: 0px 20px 0px 20px;
  }
}
@media (max-width: 385px) {
  .container > .picked-container {
    padding: 0px 15px 0px 15px;
  }
}
.container > .picked-container > .picked-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 95px;
}
@media (max-width: 1108px) {
  .container > .picked-container > .picked-side {
    row-gap: 40px;
  }
}
@media (max-width: 585px) {
  .container > .picked-container > .picked-side {
    font-size: 14px;
    text-align: center;
  }
}
.container > .picked-container > .picked-side .you-picked-text, .container > .picked-container > .picked-side .ai-picked-text {
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 1108px) {
  .container > .picked-container > .picked-side .you-picked-text, .container > .picked-container > .picked-side .ai-picked-text {
    font-size: 20px;
  }
}
@media (max-width: 585px) {
  .container > .picked-container > .picked-side .you-picked-text, .container > .picked-container > .picked-side .ai-picked-text {
    width: 80%;
    font-size: 18px;
  }
}
.container > .picked-container > .picked-side .ai-picked-container {
  height: 12rem;
  width: 12rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}
@media (max-width: 585px) {
  .container > .picked-container > .picked-side .ai-picked-container {
    height: 8rem;
    width: 8rem;
  }
}
@media (max-width: 385px) {
  .container > .picked-container > .picked-side .ai-picked-container {
    height: 7rem;
    width: 7rem;
  }
}
.container > .picked-container > .picked-result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container > .picked-container > .picked-result-container:not(.active) {
  display: none;
}
@media (max-width: 1108px) {
  .container > .picked-container > .picked-result-container {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
  }
}
.container > .picked-container > .picked-result-container > .results-text {
  font-size: 3.5rem;
  text-transform: uppercase;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.container > .picked-container > .picked-result-container > button {
  border: 0;
  height: 50px;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  color: #DF4D4F;
  transition: 0.2s;
}
.container > .picked-container > .picked-result-container > button:hover {
  filter: brightness(80%);
}

.rules-btn-container {
  touch-action: none;
  position: absolute;
  opacity: 0.9;
  z-index: 991;
  right: 70px;
  bottom: 0;
}
@media (max-width: 585px) {
  .rules-btn-container {
    right: 50%;
    transform: translate(50%);
  }
}
.rules-btn-container .rules-btn {
  touch-action: none;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  border: 1.5px solid #eee;
  background-color: transparent;
  color: #eee;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
}
.rules-btn-container .rules-btn:hover {
  filter: brightness(75%);
}/*# sourceMappingURL=style.css.map */